# Ce fichier permet d'ignorer les fichiers de build, cache, logs, etc.
__pycache__/
build/
dist/
*.egg-info/
.cache/
*.log
*.pkl
*.pyc
*.pyd
*.exp
*.lib
.vscode/
.venv/
.env

# Ajouts pour projet Cython/Python
cache/
trading_bot.egg-info/
*.so
*.c
*.cpp
*.keep
*.gitkeep
src/backtest_engine/*.cpp
src/backtest_engine/*.pyd
src/backtest_engine_standard/*.cpp
src/backtest_engine_standard/*.pyd
src/indicators/*.cpp
src/indicators/*.pyd
build/**/backtest_engine*.cpp
build/**/backtest_engine*.pyd
build/**/indicators*.cpp
build/**/indicators*.pyd
trading_bot.log
states/
*.bak
*.tmp
